.wrap{
	width: 83.1638%;/*960/1349*/ 
	margin: 0 auto; font-size: 12px;}
header{
	 width: 100%;
	 background: url(../images/head-bg_02.png) repeat-x;}
.logo{
	font-family: franklingothicbtFont;
    font-size: 3em;/*36px*/color: #0d0c0c;
    padding-top: 2.0555em;/*74/36*/}
.logo span{color: #dfdada;}
nav{
	width: 100%;
	display: table;
 	margin-top: 2.5em;/*30px*/}
nav ul{display: table-row;}
nav ul li{
	display: table-cell;
	background-image: -moz-linear-gradient(top,#fafafa,#eeeeee,#e4e4e4);
	background:-webkit-linear-gradient(top,#fafafa,#eeeeee,#e4e4e4);}
nav ul li a{
	font-family: franklingothicbtFont;
	font-size: 2em;/*24px*/color: #010001;
	text-decoration: none;line-height: 1.5em;/*36/24*/}

nav ul li a:hover{
	animation:ChangeTextShadow 1s infinite alternate;
	-moz-animation:ChangeTextShadow 1s infinite alternate;
	-webkit-animation:ChangeTextShadow 1s infinite alternate;}
nav ul li:first-child{text-align: left;}
nav ul li:last-child{text-align: right;}
nav ul li:nth-child(odd) a{color: #fe0208;}
aside>section{
	margin: 0 auto;width: 90.8333%;/*218/240*/}
.content{
	width: 100%;
	margin-top: 2em;/*24px*/
	padding-top: 2em;/*24px*/ 
	border-top:#d6d5d5 4px double;
	border-bottom:#d6d5d5 4px double; 
	padding-bottom: 1.333em;/*16px*/}
aside{ 
	width: 25%;/*240/960*/
	float: left;  
	background-image: -moz-linear-gradient(top,#ffffff,#e3e3e3,#ffffff);
	background:-webkit-linear-gradient(top,#ffffff,#e3e3e3,#ffffff); 
	box-shadow: 3px 3px 4px #575757;}
h3{
	line-height: 3.6363em;/*80/22*/ 
	font-family: franklingothicbtFont;
	font-size: 1.8333em;/*22px*/
	color: #060606;}
.enter{width: 100%;}
.enter a{
	font-size: 1.2em; 
	width: 100%; 
	line-height: 1.8333em;/*22px*/
	display: block;
	border-radius: 15px;
	border:1px solid #a19e9e;
	color: #5c5959;
	background-image: -moz-linear-gradient(top,#dbdbdb,#c6c6c6,#b0b0b0);
	background:-webkit-linear-gradient(top,#dbdbdb,#c6c6c6,#b0b0b0);
	text-align: center;
	text-decoration: none;
	margin-top: 1.0833em;/*13px*/}
.movie{
	float: left;
	width: 100%;
	width: 45.4128%;/*99/218*/}
.movie>img{
	display: block;
	width: 100%;
	height: auto;}
.movie:first-child>img{animation: XuanZhuanOne 1s;}
.movie:last-child>img{animation: XuanZhuanTwo 1s;}
.movie:last-child{margin-left: 8.3333%;/*20/240*/}
aside>section:last-child{padding-bottom: 3em;/*36px*/}

.main{
	width: 70.7291%;/*679/960*/
	float: right;}
.pic{float: left;width: 29.7496%;/*202/679*/}
.pic>img{
	display: block;
	width: 100%;
	height: auto;}
article{
	width: 66.7239%;/*450/679*/
	float: right;}
h1{
	font-family: franklingothicbtFont;
	font-size: 6em;/*72px*/
	color: #0d0c0c;
	text-shadow: 1px 1px #dad7d7;
	margin-top: 18px;
	line-height: 2em;}
h2{
	font-family: mercedesLightWebfontFont;
	font-size: 2.3333em;/*28px*/
	color: #757474;
	text-shadow: 1px 1px #dad7d7; 
	line-height: 1.6071em;/*45/28*/}
p{
	font-family: mercedesLightWebfontFont;
	font-size: 1.6666em;/*20px*/
	color: #9a9999;
	text-shadow: 1px 1px #dad7d7; 
	line-height: 1.9em;/*38/20*/}
article>p>span{color: #757474;}
article>p>a{color: #9a9999;}
.btn{
	border: 1px solid #f15c60;
	width: 88.8888%;/*400/450*/ 
	box-shadow: 2px 2px 2px #989898; 
	border-radius: 10px;
	background-image: -moz-linear-gradient(top,#f15c60,#cc373b,#ad181c);
	background:-webkit-linear-gradient(top,#f15c60,#cc373b,#ad181c);
	text-align: center;
	line-height: 3.4615em;/*90/26*/
	font-family: franklingothicbtFont;
	font-size: 2.1666em;/*26px*/
	color: #fff; 
	margin-top: 1.1538em;/*30/26*/
	transition: border 1s, box-shadow 2s,color 3s,text-shadow 5s;
	-moz-transition: border 1s, box-shadow 2s,color 3s,text-shadow 5s;
	-webkit-transition:  border 1s, box-shadow 2s,color 3s,text-shadow 5s;
	-o-transition:   border 1s, box-shadow 2s,color 3s,text-shadow 5s;}
.btn:hover{
	border: 1px solid #b6b4b4; 
	box-shadow: 2px 2px 8px #989898; 
	color: #989898;
	text-shadow: 0px 1px 0px #c4c2c2;}
.btn span{
	transition:color 5s 1s,text-shadow 7s 1s;
	-moz-transition: color 5s 1s,text-shadow 7s 1s;
	-webkit-transition: color 5s 1s,text-shadow 7s 1s;
	-o-transition: color 5s 1s,text-shadow 7s 1s;}
.btn:hover span{ 
	color: #989898;
	text-shadow: 0px 1px 0px #c4c2c2;}

footer{
	width: 96.2499%;/*924/960*/
	margin: 0 auto;
	background: url(../images/footer-bg_10.png) repeat-x;
	background-position: bottom;
	padding-top: 28px;
	padding-bottom: 70px;}
footer p{
	font-family: mercedesLightWebfontFont;
	font-size: 1em;/*12px*/
	color: #757474;
	text-align: center;}
/*断点*/
@media screen and (max-width: 736px) {
	.wrap{font-size: 12px;}
	aside{
		float: none; 
		width: 95%;
		margin: 0 auto;}
	.main{
		float: none; 
		width: 95%;
		margin: 2.5em auto;}
}
@media screen and (min-width: 380px) and ( max-width: 576px) {
	.wrap{font-size: 8px;}
	.main{
		float: none; 
		width: 95%;
		margin: 2em auto;}
	h1{
		line-height: 1.2em;
		color: red;}
}
@media screen and (max-width: 379px){
	.main{
		float: none; 
		width: 95%;
		margin: 2em auto;}
	.wrap{font-size: 6px;}
}